@font-face{
	font-family: mord;
	src: url("fonts/Mordred.ttf");
}

@font-face{
	font-family: lohen;
	src: url("fonts/Lohengrin.ttf");
}

@font-face{
	font-family: chance;
	src: url("fonts/BLKCHCRY.ttf");
}

:root {
	font-size: 16px;
	--bg-color: rgb(52, 54, 62);
	/*--main-text-color: honeydew;*/
	--main-text-color: coral;
}

body {
	min-height: 100vh;
	background-color: var(--bg-color);
	color: var(--main-text-color);
	font-family: mord;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#character-name {
	font-family: lohen;
	font-size: 3rem;
	text-align: center;
	width: 80%;
	margin: auto;
}

#character-details {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	align-items: center;
}

#character-details > div {
	color: var(--main-text-color);
	width: 50%;
	font-size: 1.2rem;
}