#character-details {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 20px auto 0;
  gap: 10px;
  border-bottom: 1px solid var(--main-text-color);
  padding-bottom: 20px;
}

#character-details > div {
  color: var(--main-text-color);
  width: 45%;
  font-size: 1.2rem;
}

#character-details > div:last-of-type {
  width: 100%;
}

#character-details > div > p {
  display: inline-block;
  color: var(--secondary-text-color);
}

#character-details > div > span {
  display: inline-block;
  min-width: 70px;
  /* border: 1px solid var(--main-text-color); */
  border-radius: 3px;
}

#character-details #backgroundContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#classLevel {
  outline: none;
  font-family: serif;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
  padding: 3px 10px;
}

#classLevel:focus {
  border: 1px solid white;
}

#HP {
  width: 100%;
  padding: 20px;
  background: rgba(40, 42, 52, 0.5);
  height: 140px;
  display: flex;
  border-bottom: 1px solid var(--main-text-color);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#maximumHPdiv {
  font-size: 1rem;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ff6347bb;
  font-style: italic;
}

#maximumHPdiv span {
  font-family: sans-serif;
  min-width: 50px;
  text-align: right;
  outline: none;
  padding: 5px;
}

#currentHPdiv {
  font-family: chance;
  width: 80%;
  font-size: 1.5rem;
  color: var(--secondary-text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#currentHPdiv span {
  font-family: sans-serif;
  font-size: 1.5rem;
  color: var(--main-text-color);
  min-width: 50px;
  text-align: right;
  outline: none;
  padding: 5px;
  transition: color 0.5s;
}

#tempHPdiv {
  font-family: mord;
  font-size: 1.2rem;
  font-style: italic;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.7;
}

#tempHPdiv span {
  font-family: sans-serif;
  color: var(--main-text-color);
  min-width: 50px;
  text-align: right;
  outline: none;
  padding: 5px;
}

#maximumHPdiv span:focus {
  border: 1px solid var(--main-text-color);
  border-radius: 5px;
}

#currentHPdiv span:focus {
  border: 1px solid var(--main-text-color);
  border-radius: 5px;
}

#tempHPdiv span:focus {
  border: 1px solid var(--main-text-color);
  border-radius: 5px;
}

#takeDamage {
  width: 100%;
  padding: 10px;
  background: #ff000055;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

#takeDamage p {
  width: 10ch;
  word-wrap: break-word;
  text-align: center;
  font-family: chance;
  font-size: 1.5rem;
  color: #101010;
  font-weight: bold;
}

#takeDamage input[type="number"] {
  width: 120px;
  height: 50px;
  text-align: center;
  font-size: 1.2rem;
  outline: none;
  border: 2px solid #000000aa;
  padding: 10px;
  background: transparent;
  color: var(--main-text-color);
  border-radius: 5px;
}

#takeDamage button {
  height: 50px;
  padding: 10px;
  font-size: 1.5rem;
  font-family: lohen;
  border: 2px solid black;
  border-radius: 5px;
  background: transparent;
  transition: all 0.2s;
}

#takeDamage button:active {
  color: #ff000099;
  background: black;
}

.armorClassSpeedInit {
  border-top: 1px solid var(--main-text-color);
  background-color: var(--bg-color-secondary);
  width: 100%;
  padding: 20px 20px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.armorClassSpeedInit > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.armorClassSpeedInit > div > div:first-child {
  font-family: sans-serif;
  font-size: 1.5rem;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0);
  padding: 5px 10px;
}

.armorClassSpeedInit > div > div:first-child:focus {
  border: 1px solid var(--main-text-color);
  border-radius: 5px;
}

.armorClassSpeedInit > div > div:last-child {
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--secondary-text-color);
}

.stats {
  background: var(--bg-color-secondary);
  padding: 40px 0;
  width: 100%;
  margin: auto;
  border-bottom: 1px solid var(--main-text-color);
  border-top: 1px solid var(--main-text-color);
  font-family: mordred;
  text-align: center;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 17px;
}

.stats b {
  font-family: mord, serif;
  font-size: 1.3rem;
  color: var(--secondary-text-color);
}

.stats span {
  font-size: 1.1rem;
  font-family: sans-serif;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
  padding: 5px 5px;
}

.stats span:focus {
  border: 1px solid white;
}

.stats > div {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.stats > div > div {
  display: flex;
  justify-content: center;
}

#skillsContainer h1 {
  width: 65%;
  margin: 10px auto 10px;
  font-size: 1.3rem;
  font-style: italic;
  text-align: center;
  padding-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: springgreen;
}

#skillsContainer h1 span {
  font-style: normal;
  color: var(--main-text-color);
  display: inline-block;
  min-width: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

#skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

#skills > div {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-bottom: 1px solid white;
}

#skills > div:nth-child(2n) {
  border-left: 1px solid white;
}

#skills > div:nth-child(n + 17) {
  border-bottom: none;
}

#skills > div > p {
  color: violet;
  font-weight: bold;
  font-size: 1.1rem;
  font-family: mord;
}

#skills > div > span {
  font-family: serif;
}

#skills > div > .profColor {
  color: springgreen;
}
