#paladinTable {
  width: 80%;
  margin: 20px auto 0;
  position: relative;
}

.classFeatureSection {
  padding: 10px;
  margin-top: 10px;
  font-family: mord, serif;
  font-size: 1.3rem;
}

.classFeatureSection h2 {
  font-size: 2rem;
  text-decoration: underline;
  color: var(--secondary-text-color);
  text-align: center;
}

.classFeatureSection > div > div {
  display: inline-block;
  vertical-align: middle;
}

.classFeatureSection h3 {
  color: var(--secondary-text-color);
  display: inline-block;
  text-decoration: underline;
}

.ab-scoreImprov h2 {
  font-size: 25px;
}
